.main {
  background-image: url("../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.main__overlay {
  background-color: rgba(0, 0, 0, .5);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  grid-auto-columns: min-content;
  grid-gap: 8px;
  background: #F5F6F7;
}