.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding: 0 104px;
    color: #FFF;
    max-width: 1440px;
    margin: 0 auto;

}
.header__logo {
    font-family: 'Roboto Slab',  Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    align-self: center;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header__button {
    -webkit-appearance: none;

    border: 1px solid #FFF;
    color: #fff;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: transparent;
    width: 176px;
    padding: 12px 0;
    font-weight: 500;
    margin-left: 42px;
    font-family: inherit;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0 40px;
    }
    .header__button {
        font-size: 16px;
        margin-left: 16px;
        width: 152px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        padding: 0 16px;
    }
    .header__button {
        font-size: 18px;
    }
    .header__logo {
        font-size: 16px;
    }
}